li {
  list-style: none ;
}
.area {
  margin: 0 auto;
  text-align: center;
  margin: 20px;
}

.area > h1 {
  margin: 20px;
  font-size: 45pt;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}
#data {
  margin: 0 auto;
  text-align: justify;
}